@model Rede_do_bem.Models.Campanha

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir campanha</h1>

<h3>Deseja excluir essa campanha?</h3>
<div>
    <h4>Rede_do_bem.Models.Campanha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDaCampanha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDaCampanha)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneContato)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoRecebimento)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDoacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDoacao)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioRecebimento)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoAcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoAcao)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampanhaFavoritada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampanhaFavoritada)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCampanha" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
